body {
    font-family: Arial, sans-serif;
    background-image: url(../img/UNAS.png);
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: 0px -300px;
    background-repeat: repeat-y;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-repeat: repeat;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent black cover */
    /* z-index: 1;  */
    z-index: 0; /* Make sure the cover is above the background image */
}

body > * {
    position: relative;
    z-index: 1; /* Ensure content is above the cover */
}

.header {
    background-color: #4caf50;
    color: white;
    padding: 20px 0 20px;
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    position: relative;
}

.container {
    display: flex;
    flex-direction: row;
    margin-top: 37px;
}

.sidebar {
    flex: 1;
    max-width: 230px;
    background-color: #4caf50;
    padding: 15px;
    color: white;
    transition: max-width 0.3s;
    overflow: hidden;
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-bottom: 1px solid #555;
    padding-bottom: 15px;
}

.sidebar a:hover {
    background-color: #045505;
    color: #ffff;
}

.content {
    flex: 3;
    background-color: white;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: margin-left 0.3s;
}

.toggle-btnn {
    display: none;
}

.profile-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-info img {
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info div {
    font-size: 16px;
}

.profile-info div span {
    display: block;
    margin: 5px 0;
}

.actions {
    margin-bottom: 20px;
}

.actions button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.actions button:hover {
    background-color: #45a049;
}

.info-box {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* CSS Keuangan  */
.tb {
    width: 600px;
}

.vv {
    font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
    font-size:13px;
    height:10;
    padding-left: 100px;
    text-align:right;
}
.vv1 {
    font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
    font-size:13px;
    height:10;
}
.vv2 {
    font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
    font-size:13px;
    height:10;
    text-align: right;
}
.vv3{
    font-size:13px;
    width: 80px;
    height: 25px;
}

.vq {
    font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
    font-size:13px;
    height:10;
    text-align: center;
    width: 100%;
}

.th {
    color: #000000;
    font-family:Tahoma;
    font-weight: bold;
    background-color:#AEAB9B;
    font-size:12px;
}

.th {
    color: #000000;
    font-family:Tahoma;
    font-weight: bold;
    background-color:#AEAB9B;
    font-size:12px;
}
.tab {
    width: 100%;
    border-collapse: collapse;
}
.thh {
    border: 1px solid #cccccc;
    padding: 8px;
    text-align: left;
}
/* CSS Keuangan  */

/* CSS Nikai Semester Aktif */
.header-row {
    background-color: #4CAF50;
}

.header-cell {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    color: white;
}
.header-cell1 {
    border: 1px solid #ddd;
    padding: 8px;
    width: 500px;
    text-align: center;
    color: white;
}

.sub-header-cell {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    background-color: #66BB6A;
    color: white;
}

.data-row:nth-child(even) {
    background-color: #f2f2f2;
}

.data-row:hover {
    background-color: #ddd;
}

.data-cell {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.first-cell {
    background-color: #e7f0fd;
}
.vn {
    font-size:15px;
    height:10;
    text-align:right;
}
.vn1 {
    font-size:15px;
    height:10;
    text-align:left;
}.vn2 {
    font-size:15px;
    height:10;
    padding-left: 20px;
    width: 40px;
    text-align:left;
}
.vl {
    font-size:15px;
    height:10;
    text-align:left;
}
/* CSS Nikai Semester Aktif */

/* CSS KRS */
.k1 {
    width: 100%;
    font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
    font-size:13px;
    font-weight:normal;
}


/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    body {
        font-family: Arial, sans-serif;
        background-image: url(../Media/UNAS.png);
        margin: 0;
        padding: 0;
        background-position: fixed;
        background-repeat: repeat;
    }

    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 380%;
        background: rgba(0, 0, 0, 0.7); /* Semi-transparent black cover */
        z-index: 0; /* Make sure the cover is above the background image */
    }

    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        display: none;
    }

    .sidebar.hidden {
        display: block;
    }

    .toggle-btnn {
        display: inline-block;
        margin-bottom: 1rem;
    }

    .content.expanded {
        margin-left: 0;
    }
}

@media (max-width: 576px) {
    body {
        font-family: Arial, sans-serif;
        background-image: url(../Media/UNAS.png);
        margin: 0;
        padding: 0;
        background-position: fixed;
        background-repeat: repeat;
    }

    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 360%;
        background: rgba(0, 0, 0, 0.7); /* Semi-transparent black cover */
        z-index: 1; /* Make sure the cover is above the background image */
    }

    .profile-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .profile-info img {
        margin-bottom: 1rem;
    }

    .actions {
        display: flex;
        flex-direction: column;
    }

    .actions button {
        width: 100%;
        margin-right: 0;
    }
}

button[name="logout"] {
    background-color: transparent;
    border: none;
}

.align-table {
    border-collapse: collapse;
    width: 40%; /* Adjust width as needed */
}
.align-table1 {
    border-collapse: collapse;
    width: -20%;
    font-weight: 700;
}

.align-table td {
    padding: 0px 7px -75px; /* Space between cells */
    font-weight: bold;
}

.colon {
    text-align:left; /* Center align the colon within its cell */
    font-weight: bold;
}

.modal-backdrop {
  display: none;
  /* z-index: 0; */
}


.form_ambilMK ul .button-ambilMK:hover{
    color:red;
}

.hidden{
    display: none;
}